.icon {
    display: -moz-inline-stack;
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url("../pic/icons.png");
    background-position: 15px 15px;
    background-repeat: no-repeat;
    vertical-align: top;
    line-height: 15px;
    cursor: pointer;
}

.icon-edit {
    background-position: 0 0;
}

.icon-delete {
    background-position: 0 -15px;
}