body {
    width: 100%;
    min-width: 960px;
    background-color: #f3f2e8;
    color: #444;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
}

a {
	text-decoration: none;
}

a:link, a:visited {
	outline: none;
	color: #369;
}

.navbar {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	background-color: #1B1B1B;
	z-index: 1;
}

.nav {
	width: 80%;
	min-width: 960px;
	margin: 0 auto;
}

.nav li {
	display: inline-block;
	color: #555;
}

.nav li a {
	display: block;
	padding: 7px;
}

.nav li.active a,
.nav li a:hover {
	color: white;
}

.page {
	width: 80%;
	min-width: 960px;
	margin: 40px auto;
}

.tabs {
	display: none;
}

.tabs.active {
	display: block;
}

.date_block {
	border: 1px solid #ccc;
	margin-bottom: 20px;
	border-radius: 4px;
}

.date_header {
	position: relative;
	padding: 3px 10px;
	/*background-color: #EAEAEA;*/
	border-bottom: 1px solid #808080;
	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
	font-family: 'Cuprum';
	color: #B55D5C;
	font-size: 21px;
	/*font-style: italic;*/
}

.date_content {
	padding: 0 10px;
	background-color: #B6B9B1;
}

.date_item {
	position: relative;
	padding: 5px 0;
	cursor: pointer;

}

.date_item_delete,
.date_block_delete {
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	text-decoration: underline;
	opacity: 0.4;
        -webkit-transition: opacity .3s linear;
           -moz-transition: opacity .3s linear;
             -o-transition: opacity .3s linear;
                transition: opacity .3s linear;
}

.date_item_delete:hover,
.date_block_delete:hover {
	opacity: 1;
}

.date_block_delete {
	right: 5px;
}

.date_item_delete {
	top: 5px;
}

.date_item_content {
	display: none;
}

.icon-close {
	display: inline-block;
	width: 11px;
	height: 11px;
	background-image: url('../pic/icon-close.gif');
	cursor: pointer;
}

textarea {
	display: block;
	width: 50%;
	resize: none;
	height: 500px;
}

textarea:focus {
	outline: none;
}
/* очищающийся контейнер для плавающих элементов */

.group:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}